<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Project{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  </head>
  <style>
    /* Layout Styles */
    .main-container {
      display: flex;
      height: 100vh;
      overflow: hidden;
    }

    .sidebar {
      width: 250px;
      background-color: #343a40;
      color: white;
      position: fixed;
      top: 56px; /* Space for Navbar */
      bottom: 0;
      left: -250px;
      transition: all 0.3s ease;
      overflow-y: auto;
    }

    .sidebar.open {
      left: 0; /* Show Sidebar when open */
    }

    .sidebar a {
      color: #dcdcdc;
      padding: 10px 20px;
      display: block;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #495057;
      color: white;
    }

    .content {
      flex: 1;
      margin-left: 0;
      margin-top: 50px;
      padding: 20px;
      transition: all 0.3s ease;
      overflow-y: auto;
    }

    .content.shifted {
      margin-left: 250px;
    }
  </style>
  <body>
    {% include 'includes/navbar.html' %}

    <div class="main-container">
      {% include 'includes/sidebar.html' %}
      <div class="content container-fluid mt-5">
        {% block content %}
        <form method="POST" id="order-form">
          {% csrf_token %}
          <div class="row g-3">
            <h1 align="center" class="">สร้างใบเสนอราคา</h1>
          </div>
          <div class="row g-3">
            <div class="col-md-6">
              <label for="name" class="form-label">ชื่อ</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">นามสกุล</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <label for="address" class="form-label">ที่อยู่</label>
              <input
                type="text"
                name="address"
                id="address"
                class="form-control"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="tel" class="form-label">เบอร์โทร</label>
              <input
                type="text"
                name="tel"
                id="tel"
                class="form-control"
                required
              />
            </div>
          </div>
          <div>
            <button type="button" id="add-order" class="btn btn-warning mt-3">
              เพิ่มรายการใบเสนอราคา
            </button>
            <button type="submit" class="btn btn-success mt-3">
              สร้างใบเสนอราคา
            </button>
          </div>
          <div id="orders" class="d-flex flex-wrap gap-3 mt-4">
            <!-- <div class="order mb-3">
                            <div class="card bg-light mb-3" style="max-width:
                                18rem;">
                                <div class="card-header">รายการใบเสนอราคาที่ ${orderIndex}</div>
                                <div class="card-body">
                                    <label for="order_name" class="form-label">ชื่อรายการ:</label>
                                    <input type="text" name="order_names"
                                        class="form-control" required>

                                    <label for="amount" class="form-label mt-2">จำนวน:</label>
                                    <input type="number" name="amounts"
                                        class="form-control" required>

                                    <label for="price" class="form-label mt-2">ราคา:</label>
                                    <input type="number" name="prices"
                                        class="form-control" required>

                                    <button type="button" class="btn btn-danger w-100 mt-3 remove-order">ลบ</button>
                                </div>
                            </div> -->
            <!-- <div><button type="button" id="add-order" class="btn
                                    btn-warning mt-3">เพิ่ม Order</button>
                                <button type="submit" class="btn btn-success
                                    mt-3">สร้าง Orders</button>
                            </div> -->
          </div>
        </form>

        {% if success %}
        <div
          id="popup"
          style="
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 800px;
            height: 90%;
            max-height: 600px;
            overflow: hidden;
          "
        >
          <h4 style="text-align: center">สร้างใบเสนอราคาเสร็จสิ้น</h4>
          <iframe
            src="{{quotation_view_url}}"
            style="width: 100%; height: 80%; border: none"
          ></iframe>
          <br />
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
            "
          >
            <img
              src="{% static 'signature.png' %}"
              alt="Signature"
              style="width: 150px; height: auto; margin-left: 10px"
            />
            <button
              onclick="document.getElementById('popup').style.display='none'"
              class="btn btn-danger"
              style="margin: 10px"
            >
              ปิด
            </button>
          </div>
        </div>
        {% endif %}

        <a
          href="/adminmanage/manage/"
          class="btn btn-primary"
          style="position: fixed; bottom: 20px; right: 20px; z-index: 1000"
        >
          ย้อนกลับไปหน้า Orders
        </a>
      </div>

      <script>
        let orderIndex = 1;
        document
          .getElementById("add-order")
          .addEventListener("click", function () {
            const ordersContainer = document.getElementById("orders");
            const newOrderDiv = document.createElement("div");
            newOrderDiv.classList.add("order", "mb-3");
            newOrderDiv.innerHTML = `
                <div class="card bg-light" style="max-width: 18rem;">
                    <div class="card-header">รายการใบเสนอราคาที่ ${orderIndex}</div>
                    <div class="card-body">
                        <label for="order_name" class="form-label">ชื่อรายการ:</label>
                        <input type="text" name="order_names" class="form-control" required>

                        <label for="amount" class="form-label mt-2">จำนวน:</label>
                        <input type="number" name="amounts" class="form-control" required>

                        <label for="price" class="form-label mt-2">ราคา:</label>
                        <input type="number" name="prices" class="form-control" required>

                        <button type="button" class="btn btn-danger w-100 mt-3 remove-order">ลบ</button>
                    </div>
                </div>
                `;
            ordersContainer.appendChild(newOrderDiv);
            orderIndex++;
          });
        document
          .getElementById("orders")
          .addEventListener("click", function (e) {
            if (e.target && e.target.classList.contains("remove-order")) {
              e.target.closest(".order").remove();
              const orders = document.querySelectorAll("#orders .order");
              orderIndex = 1;
              orders.forEach((order) => {
                const header = order.querySelector(".card-header");
                header.textContent = `รายการใบเสนอราคาที่ ${orderIndex}`;
                orderIndex++;
              });
            }
          });
      </script>
      {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      const toggleSidebarButton = document.getElementById("toggleSidebar");
      const sidebar = document.getElementById("sidebar");
      const content = document.getElementById("content");

      toggleSidebarButton.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        content.classList.toggle("shifted");
      });
    </script>
  </body>
</html>

