{%extends "includes/navbar.html"%}

{%block title%}
<title>Profile Page</title>
{%endblock%}

{%block content%} 

   {%for user in all_user%}
        <form method="post">
            <div class="row">

                <div class="col">
                    <input type="text" class="form-control" disabled value="{{user.name}}">
                </div>
        
                <div class="col">
                    <input type="text" class="form-control" disabled value="{{user.lastName}}">
                </div>
            </div>

                <div class="signup-prompt mt-3">
                    <p class="btn btn-warning"><a href="Edit/1">Edit</a></p> 
                </div>
        </form>
    
   {%endfor%}
    
    
{%endblock%}