{%extends "main.html"%}

{%block title%}
<title>Login Page</title>
{%endblock%}

{%block content%}
{%if messages %}
    {% for message in messages%} 
        <div class="alert alert-warning" role="alert">
             <strong>{{message}}</strong>
        </div>
    {%endfor%}
    
{%endif%}
<form method="POST">
    {% csrf_token %}
    <style>
        /* Custom CSS */
        .login-container {
        background-color: #101211;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 350px;
        padding: 20px;
        }
        .login-form h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #fff;
        }
        .input-field label {
        font-size: 14px;
        color: #000;
        margin-bottom: 5px;
        }
        .input-field input {
        border-radius: 4px;
        border: 1px solid #000;
        color: #ff0000;
        }
        .forgot-password a {
        font-size: 12px;
        color: #ffda8f;
        text-decoration: none;
        }
        .forgot-password a:hover {
        text-decoration: underline;
        }
        .btn-login {
        width: 100%;
        background-color: #ffc44d;
        border: none;
        border-radius: 4px;
        color: #101211;
        font-size: 16px;
        cursor: pointer;
        }
        .btn-login:hover {
        background-color: #ffc44dda;
        }
        .signup-prompt {
        text-align: center;
        margin-top: 15px;
        }
        .signup-prompt a {
        color: #fff;
        text-decoration: none;
        }
        .signup-prompt a:hover {
        text-decoration: underline;
        }
    </style>

    <body class="bg-dark d-flex justify-content-center align-items-center vh-100">
        <div class="login-container">
        <div class="login-form">
            <h2 class="text-center text-white">Sign In</h2>
            <form action="Register"> 
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" placeholder="Enter your email" required name="email">
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter your password" required name="password">
            </div>
            
            <div class="forgot-password text-end mb-3">
                <a href="#">Forgot password?</a>
            </div>
            
            <button type="submit" class="btn-login btn" >Sign In</button>
            </form>
            
        </div>
        </div>
    </body>
</form>
{%endblock%}